<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIS Website</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="search-box">
                <input type="text" placeholder="Search for anything..." />
            </div>
            <div class="categories">
                <h3>KATEGORI</h3>
                <ul>
                    <li><span class="dot green"></span>Museum</li>
                    <li><span class="dot orange"></span>Pantai</li>
                    <li><span class="dot red"></span>Pura</li>
                    <li><span class="dot blue"></span>Danau</li>
                </ul>
            </div>
        </div>
        <!-- Map -->
        <div id="map"></div>
    </div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <?php
    $connection = pg_connect("host=localhost dbname=Pariwisata user=postgres password=alfath2602");
    ?>

</body>

</html>